<script type="text/javascript">
  $(document).ready(function() {
    FrontendDeveloperTest.init();
  });
</script>

<li class= "btn btn-inverse">
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
</li>


<div id="products-container">

</div>