<div class="container">
  <div class="product-container">
  <h1 class="control-group">New Product</h1>
    <form id="new-product" name="product">
        <div class="field control-group">
          <label class="control-label" for="title">Name:</label>
          <div class="controls">
            <input type="text" name="name" id="name" />
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label" for="title">Price:</label>
          <div class="controls">
            <input type="text" name="price" id="price" />
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label" for="title">Product Type:</label>
          <div class="controls">
            <input type="text" name="product_type" id="product_type" />
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" value="Create Product">Create Product</button>
          </div>
        </div>
    </form>
  </div>
  <a href="#/index">Back</a>
</div>