<div class="container">
  <div class="product-container">
    <h1>Product Details</h1>
    <ul class="thumbnails">
      <li class="span4">
        <p>
          <b>Name:</b>
          <%= name %>
        </p>
        <p>
          <b>Price:</b>
          <%= price %>
        </p>
        <p>
          <b>Type:</b>
          <%= product_type %>
        </p>
      </li>
    </ul>
  </div>
  <a href="#/index">Back</a>
</div>